<style>
    .row{
        width: 100%;
    }
    footer{
        width:100%;
        height:100%;
        background-color: #f9f9f9;
    }
     table tr td ul{
        margin-top:40px;
    }
</style>
<div class="row">
    <footer>
        <table style="margin:auto;">
            <tr>
                <td>
                <ul>
                    <h4>Alıcı Rehberi</h4>
                    <li>
                        <a href="#">Nasıl Ürün Alırım?</a>
                    </li>
                    <li>
                        <a href="#">Ödeme Seçenekleri</a>
                    </li>
                    <li>
                        <a href="#">Alış Sonrası İşlemler</a>
                    </li>
                    <li>
                        <a href="#">Açık Arttırma</a>
                    </li>
                </ul>
                </td>
                <td>
                    <ul>
                        <h4>Satıcı Rehberi</h4>
                        <li>
                            <a href="#">Nasıl Satış Yapılır?</a>
                        </li>
                        <li>
                            <a href="#">Satış Formatları</a>
                        </li>
                        <li>
                            <a href="#">Satış Araçları</a>
                        </li>
                        <li>
                            <a href="#">Yasaklı Ürünler</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <h4>Servisler</h4>
                        <li>
                            <a href="#">Listeleme Servisi</a>
                        </li>
                        <li>
                            <a href="#">Dükkanlar</a>
                        </li>
                        <li>
                            <a href="#">PayPal</a>
                        </li>
                        <li>
                            <a href="#">İş Ortakları</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <h4>Bizi Takip Edin</h4>
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-linkedin"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-pinterest-p"></i> Pinterest
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </footer>
</div>
